@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div,
a {
  margin: 0;
  padding: 0;
}
:root {
  --poppins: "Poppins", sans-serif;
  --banner_background: #1c1e53;
  --white: #fff;
  --yellow: #fcd980;
  --dark_blue: #282938;
  --royal-blue: #2405f2;
}
/* ==========Navbar Css Satrt======== */
#navbar_part {
  background: var(--banner_background);
  padding: 32px 0;
}

#navbar_part .custom_menu a {
  color: #bbbbcb;
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  margin-right: 26px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#navbar_part .custom_menu a:hover {
  color: var(--white);
}
#navbar_part .btn {
  color: var(--white);
  background-color: transparent;
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid #f4f6fc5e;
  margin-left: 16px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#navbar_part .btn:hover {
  color: var(--banner_background);
  background-color: var(--white);
}
.banner_part {
  margin: 120px 0;
}
#navbar_part .banner_left h1 {
  color: var(--white);
  font-family: var(--poppins);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
#navbar_part .banner_left p {
  color: var(--white);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-right: 64px;
  opacity: 0.7;
}
#navbar_part .view_wrapper .view_work a {
  color: #1b1c2b;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  background: var(--yellow);
  border-radius: 41px;
  padding: 12px 56px;
  display: inline-block;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#navbar_part .view_wrapper .view_work a:hover {
  color: var(--banner_background);
  background: var(--white);
}
#navbar_part .view_wrapper .view_pricing a {
  color: var(--white);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#navbar_part .view_wrapper .view_pricing a:hover {
  color: var(--yellow);
}

/* ==========Navbar Css End======== */

/* ========Work Part Css Start======== */
#work_part {
  padding: 128px 0;
  background: #f4f6fc;
}
#work_part .work_left_side_up h2 {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#work_part .work_left_side_up p {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
#work_part .work_left_side_up .work_left_side_down a {
  color: var(--royal-blue);
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

#work_part .Strategy_part h2 {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

#work_part .Strategy_part p {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ========Work Part Css End======== */

/* ========Project Part Css Start======== */
#project_part .left_head_text h2 {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

#project_part .right_head_text a {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#project_part .img_section {
  margin-top: 64px;
}
#project_part .img_section .left_side_img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#project_part .img_section .left_side_img .liner_overlay {
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: 0%;
  left: -44%;
  bottom: 0%;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  opacity: 0;
}
#project_part .img_section .left_side_img:hover .liner_overlay {
  left: 0%;
  opacity: 1;
}
#project_part .img_section .left_side_img .liner_overlay h3 {
  color: var(--white, #fff);
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding-top: 312px;
}
#project_part .img_section .left_side_img .liner_overlay p {
  color: var(--white, #fff);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
}
#project_part .img_section .left_side_img .liner_overlay a {
  color: var(--yellow, #fcd980);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#project_part .img_section .right_side_img .right_side_up_img {
  margin-bottom: 32px;
  cursor: pointer;
}
#project_part
  .img_section
  .right_side_img
  .right_side_up_img
  .gradient_overelay
  h3 {
  color: var(--white, #fff);
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding-top: 129px;
}
#project_part
  .img_section
  .right_side_img
  .right_side_up_img
  .gradient_overelay
  a {
  color: var(--yellow, #fcd980);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 10px;
}
#project_part .img_section .right_side_img .right_side_up_img {
  position: relative;
  overflow: hidden;
}
#project_part
  .img_section
  .right_side_img
  .right_side_up_img
  .gradient_overelay {
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: -73%;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  opacity: 0;
}
#project_part
  .img_section
  .right_side_img
  .right_side_up_img:hover
  .gradient_overelay {
  top: 0%;
  opacity: 1;
}

#project_part .img_section .down_img {
  padding-top: 32px;
}
/* ========Project Part Css End======== */

/* ========Design Part Css Start======== */
#design_part {
  padding: 128px 0;
  background: #f4f6fc;
}
#design_part .design_head_text p {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#design_part .design_head_text h4 {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  padding-top: 12px;
  padding-bottom: 47px;
}
#design_part .design_template {
  padding: 59px 62px;
  background: var(--white);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#design_part .design_template:hover {
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.41);
}
#design_part .design_template h6 {
  color: var(--dark_blue, #282938);
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-top: 22px;
}
#design_part .design_template p {
  color: var(--dark_blue, #282938);
  font-family: var(--dark_blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  padding-top: 12px;
}
/* =========Design Part CSS Start========= */

/* =========Client Part CSS Start========= */
#client_part {
  padding: 100px 0px;
}

/* =========Client Part CSS End=========== */
